.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /*three equal-length columns*/
    grid-template-rows: 100px 200px 300px;
    gap: 30px;
}

.first {
    grid-column: span 3;
}

.card {
    background-color: blue;
    margin: 10px;
    border: 1rem solid black;
}

