/*selector {attribute: value}*/
@media (max-width:1500px) {
    html{
        background-color: lightsalmon;
    }
}

@media (max-width:1000px){
    html{
        background: rgb(187, 231, 121);
    }
}
@media (max-width:500px) {
    html{
        background-color: lightblue;
    }
}
/*the order of these media queries matters because of priority*/





#navbar {
    position: fixed;
    z-index: 1; /*make sure it overlaps content*/
    color: greenyellow;
    background: hsl(265, 100%, 50%); 
    text-align: left;
    font-weight: bolder;
    font-family: "Nunito Sans", sans-serif;
    padding: 0.5rem;
    font-size: 2rem;
    width: 100%; /*100% of screen*/
    border: 10px solid black;
    margin: -10px;
    margin-bottom: 0px;
}

.navbar-button{
    background-color: rgb(165, 255, 127);
    color: black;
    border: 2px solid black;
    padding: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.box {
    border: 1rem solid black;
    height: 10rem;
    width: 10rem;
    background-color: aquamarine;
    left: 50px;
    top: 50px;
}

.small-box {
    height: 2rem;
    width: 2rem;
    background-color:red;

}

.abs {
    position: absolute;
    left: 5rem;
    border-radius: 40%;

}

.relative {
    position: relative;
}

img{
    text-align: center;
    float: left;
    padding-right: 50px;
    
}
footer {
    clear: left;
    text-align: center;
}

.title {
    font-weight: bolder;
    font-family: "Nunito Sans", sans-serif;
}

/* CLASS selectors passed as attributes.*/
.read_heading_class {
    color: red;
}

/* ID selector, should only be applied to a single element in an html file */
#main {
    color:turquoise;
}

/*Attribute Selector*/
/*Doesn't color on action, that would requrie JS*/
p[draggable="true"] {
    color: pink;
}

/*Universal Selector*/
*{
    font-family: "Times New roman", cursive;
    font-weight: normal;
    font-size: 1rem;
}

ol {
    margin-left: 40px;
    margin-top: 10px;
    list-style-position: inside;
}

li[value="40"] {
    color: blueviolet;
    font-weight: lighter;
}


/*Group selectors*/
h3,h4,h5 {
    color: red;
}

/*Direct child selector*/
div > p {
    background-color: rgb(37, 216, 216);
    padding: 2rem;
    text-align: center;
    border: 0.5rem solid black;
}

