/*selector {attribute: value}*/

html {
    background: rgb(187, 231, 121);

}


#navbar {
    color: greenyellow;
    background: hsl(265, 100%, 50%); 
    text-align: left;
    font-weight: bolder;
    font-family: "Nunito Sans", sans-serif;
    padding: 0.5rem;
    font-size: 2rem;
    width: 100%; /*100% of screen*/
    border: 10px solid black;
    margin: -10px;
    margin-bottom: 0px;
}
img{
    text-align: center;
}

.title {
    font-weight: bolder;
    font-family: "Nunito Sans", sans-serif;
}

/* CLASS selectors passed as attributes.*/
.read_heading_class {
    color: red;
}

/* ID selector, should only be applied to a single element in an html file */
#main {
    color:turquoise;
}

/*Attribute Selector*/
/*Doesn't color on action, that would requrie JS*/
p[draggable="true"] {
    color: pink;
}

/*Universal Selector*/
*{
    font-family: "Times New roman", cursive;
    font-weight: normal;
    font-size: 1rem;
}

ol {
    margin-left: 40px;
    margin-top: 10px;
    list-style-position: inside;
}

li[value="40"] {
    color: blueviolet;
    font-weight: lighter;
}


